# <center><b>  ISM 6562 Big Data for Business</b> </center>

### <center>  AIRLINE PERFORMANCE DATASET</center>

<center>by: Chukwuebuka Ezema  and Shruti Sridharan</center>
<br>
<br>
<br>

# <b>INTRODUCTION</b>
The U.S. Department of Transportation (DOT) Bureau of Transportation Statistics tracks the on-time performance of domestic flights. This data anlytics project aims to analyze the on-time flight departure performance and cancellations by major air carriers from Jan.2019 to Feb 2018
The data was downloaded from the U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics (BTS):https://www.transtats.bts.gov/DL_SelectFields.asp <br>
## <b>ABOUT THE PROJECT</b>
Travel opportunities around the world has made distance just a number. The ability to travel and be connected to most of the cities across US is a boon. But sometimes, apart from being expensive, flights could charge you with other costs, like delays and cancellations. This happens due to various amounts of reasons like weather conditions, technical failures etc. 
How many times have you travelled by a flight in the month of January 2019? And, have you experienced any flight delays or cancellations? 
If you have, you can see for yourself through the exploratory analysis that we have performed, using data from the past year and know the exact cause of it.
If you haven't experienced any of these, then through our data modelling predictions, we can make you aware of any experiences that you may face in future and plan better.
The inital part of the project takes you through a bunch of exploratory analysis to keep you aware of variables and factors that are prevelant to make data related decisions.
The further we move and get comfortable with our dataset, we run a few models to train our data to predict future instances of delays or cancellations. 
We have used PySpark to run the analysis and modelling. Jupyter Notebooks is a good way to comment and analyze the codes in depth.<br>
<br>

### <b>Exploratory Analysis:</b>
<b>Analysis - 1</b><br>
Carrier with most flight cancellations.<br> 

<b>Analysis - 2</b><br>
Consequently, which day of the week were flight cancellations most frequent?<br>

<b>Analysis - 3</b><br>
What was the average delay time for flights originating from Tampa (TPA)

<b>Analysis - 4</b><br>
Which orgin city had the most delay?

<b>Analysis - 5</b><br>
Origin city to Destination delay analysis

<b>Performing data prediction using modelling techniques</b><br>

### <center>  EXPLORATORY ANALYSIS </center>

#### Carrier with most flight cancellations.<br>

In [105]:
import findspark
findspark.init()
import pyspark

import pandas as pd
from pyspark.sql import Row
from pyspark.sql import functions
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark.sql.functions as func


sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
sqlContext = SQLContext(sc)
sc

In [2]:
from pyspark.sql import SparkSession

In [3]:
#Using panda dataframe to import the table
df = pd.read_csv(r'C:\Users\coe\Desktop\BigData\1.csv',sep=',')

In [4]:
#create a new copy of the panda dataframe
dfa= df

In [5]:
dfa.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_STATE_NM,DEST,DEST_STATE_NM,CRS_DEP_TIME,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,1,10,4,DL,3837,DTW,Michigan,CMH,Ohio,820,...,89.0,38.0,1.0,155.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10,4,DL,3838,IAD,Virginia,MSP,Minnesota,1658,...,170.0,148.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10,4,DL,3838,MSP,Minnesota,IAD,Virginia,1245,...,132.0,114.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,10,4,DL,3839,BHM,Alabama,LGA,New York,601,...,149.0,131.0,1.0,866.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10,4,DL,3841,MSP,Minnesota,IAD,Virginia,2025,...,134.0,107.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dfa.tail()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_STATE_NM,DEST,DEST_STATE_NM,CRS_DEP_TIME,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
638644,1,3,4,UA,4738,ORD,Illinois,LAN,Michigan,1535,...,60.0,34.0,1.0,179.0,NaN,NaN,NaN,NaN,NaN,NaN
638645,1,3,4,UA,4737,SGF,Missouri,ORD,Illinois,620,...,99.0,75.0,1.0,438.0,43.0,0.0,0.0,0.0,0.0,NaN
638646,1,3,4,UA,4736,ORD,Illinois,CAK,Ohio,745,...,85.0,56.0,1.0,343.0,NaN,NaN,NaN,NaN,NaN,NaN
638647,1,3,4,UA,4735,BIS,North Dakota,DEN,Colorado,615,...,102.0,76.0,1.0,516.0,NaN,NaN,NaN,NaN,NaN,NaN
638648,1,3,4,UA,4734,SDF,Kentucky,ORD,Illinois,955,...,99.0,53.0,1.0,286.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dfa=dfa.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
#Create Schema to convert to Spark dataframe
schema = StructType([ StructField("Month", TinyintType(), True)\
                       ,StructField("Date", IntegerType(), True)\
                       ,StructField("Weekday", IntegerType(), True)\
                       ,StructField("Carrier", StringType(), True)\
                       ,StructField("FlightNo", IntegerType(), True)\
                       ,StructField("Origin", StringType(), True)\
                       ,StructField("OriginState", StringType(), True)\
                       ,StructField("Dest", StringType(), True)\
                       ,StructField("DestState", StringType(), True)\
                       ,StructField("SchDep", IntegerType(), True)\
                       ,StructField("DepDelay", FloatType(), True)\
                       ,StructField("DepDelay15", FloatType(), True)\
                       ,StructField("SchArr", IntegerType(), True)\
                       ,StructField("ArrDelay", FloatType(), True)\
                       ,StructField("Cancelled", FloatType(), True)\
                       ,StructField("Cancelcode", StringType(), True)\
                       ,StructField("Diverted", FloatType(), True)\
                       ,StructField("SchElapsedTime", FloatType(), True)\
                       ,StructField("ElapsedTime", FloatType(), True)\
                       ,StructField("Airtime", FloatType(), True)\
                       ,StructField("Flights", FloatType(), True)\
                       ,StructField("Distance", FloatType(), True)\
                       ,StructField("CarrierDelay", FloatType(), True)\
                       ,StructField("WeatherDelay", FloatType(), True)\
                       ,StructField("NASDelay", FloatType(), True)\
                       ,StructField("SecurityDelay", FloatType(), True)\
                       ,StructField("LateAircraftDelay", FloatType(), True)])

In [10]:
# initialize Spark session and create spark dataframe
spark = SparkSession.builder.config("spark.sql.warehouse.dir", "file:///C:/temp").appName("SparkSQL").getOrCreate()
dfr = spark.createDataFrame(dfa, schema=schema)
dfr.show(5)

+-----+----+-------+-------+--------+------+-----------+----+---------+------+--------+----------+------+--------+---------+----------+--------+--------------+-----------+-------+-------+--------+------------+------------+--------+-------------+-----------------+
|Month|Date|Weekday|Carrier|FlightNo|Origin|OriginState|Dest|DestState|SchDep|DepDelay|DepDelay15|SchArr|ArrDelay|Cancelled|Cancelcode|Diverted|SchElapsedTime|ElapsedTime|Airtime|Flights|Distance|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+-----+----+-------+-------+--------+------+-----------+----+---------+------+--------+----------+------+--------+---------+----------+--------+--------------+-----------+-------+-------+--------+------------+------------+--------+-------------+-----------------+
|    1|  10|      4|     DL|    3837|   DTW|   Michigan| CMH|     Ohio|   820|    -7.0|       0.0|   951|    -9.0|      0.0|       NaN|     0.0|          91.0|       89.0|   38.0|    1.0|   155.0|         NaN|         NaN|     NaN|          NaN|              NaN|
|    1|  10|      4|     DL|    3838|   IAD|   Virginia| MSP|Minnesota|  1658|    -6.0|       0.0|  1850|    -8.0|      0.0|       NaN|     0.0|         172.0|      170.0|  148.0|    1.0|   908.0|         NaN|         NaN|     NaN|          NaN|              NaN|
|    1|  10|      4|     DL|    3838|   MSP|  Minnesota| IAD| Virginia|  1245|    -4.0|       0.0|  1623|   -30.0|      0.0|       NaN|     0.0|         158.0|      132.0|  114.0|    1.0|   908.0|         NaN|         NaN|     NaN|          NaN|              NaN|
|    1|  10|      4|     DL|    3839|   BHM|    Alabama| LGA| New York|   601|    -1.0|       0.0|   930|    -1.0|      0.0|       NaN|     0.0|         149.0|      149.0|  131.0|    1.0|   866.0|         NaN|         NaN|     NaN|          NaN|              NaN|
|    1|  10|      4|     DL|    3841|   MSP|  Minnesota| IAD| Virginia|  2025|    -1.0|       0.0|    13|   -35.0|      0.0|       NaN|     0.0|         168.0|      134.0|  107.0|    1.0|   908.0|         NaN|         NaN|     NaN|          NaN|              NaN|
+-----+----+-------+-------+--------+------+-----------+----+---------+------+--------+----------+------+--------+---------+----------+--------+--------------+-----------+-------+-------+--------+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [12]:
dfr.createOrReplaceTempView("Airline")

In [15]:
#Total number of flights that took off in January
dfr1 = spark.sql("SELECT Carrier,Cancelled from Airline where Cancelled =0")

dfr1.count()

619099

In [16]:
#Total number of flights cancelled in January
dfr2 = spark.sql("SELECT Carrier,Cancelled from Airline where Cancelled =1")

dfr2.count()

19550

In [34]:
#Carrier with most cancellation
dfr2.groupby('Carrier').sum('Cancelled').orderBy('sum(Cancelled)', ascending=False).show()

+-------+--------------+
|Carrier|sum(Cancelled)|
+-------+--------------+
|     UA|        6114.0|
|     AA|        5832.0|
|     WN|        3949.0|
|     DL|        1513.0|
|     B6|         980.0|
|     AS|         736.0|
|     NK|         199.0|
|     F9|         151.0|
|     G4|          50.0|
|     HA|          26.0|
+-------+--------------+

#### United Airlines has the maximum number of cancellations followed by American Airlines.

In [49]:
#Weekday with most cancellations
dfr2 = spark.sql("SELECT Weekday, Cancelled from Airline where Cancelled =1")

t = {1:"Monday", 2: "Tuesday", 3:"Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday", 7: "Sunday"}

conv = udf(lambda x: t[x], StringType())
dfwd= dfr2.withColumn("Day of Week", conv("Weekday")).groupBy('Day of Week').sum('Cancelled').orderBy('sum(Cancelled)', ascending=False).show()

+-----------+--------------+
|Day of Week|sum(Cancelled)|
+-----------+--------------+
|  Wednesday|        3959.0|
|    Tuesday|        3248.0|
|   Thursday|        3206.0|
|     Sunday|        2827.0|
|     Monday|        2814.0|
|   Saturday|        2481.0|
|     Friday|        1015.0|
+-----------+--------------+

In [80]:
#Average delay of flights originating from Tampa, JFK, ORD, LAX
dfrd = spark.sql("SELECT Origin, depDelay, Cancelled from Airline where (Origin='TPA' or Origin='ORD' or Origin='JFK' or Origin='LAX') and Cancelled=0")

In [84]:
dfrd.groupBy('Origin').avg('depDelay').orderBy('avg(depDelay)', ascending= False).show()

+------+------------------+
|Origin|     avg(depDelay)|
+------+------------------+
|   ORD|20.551402208660274|
|   JFK|  11.7518191520326|
|   LAX| 9.304769966142203|
|   TPA| 8.415590335815226|
+------+------------------+

In [86]:
# Origin city to Destination Delay
dfrod= spark.sql("SELECT concat(Origin,'-' ,Dest) as Route, depDelay, Cancelled from Airline where Cancelled=0")

In [87]:
dfrod.groupBy('Route').avg('depDelay').orderBy('avg(depDelay)', ascending= False).show(10)

+-------+------------------+
|  Route|     avg(depDelay)|
+-------+------------------+
|BWI-VPS|             237.0|
|VPS-BWI|             235.0|
|CMH-AUS|             218.0|
|AUS-CMH|             217.0|
|EWR-VPS|             208.5|
|TWF-SFO|199.14285714285714|
|RFD-PGD|             181.8|
|SLC-EGE|             163.0|
|EGE-SLC|             155.0|
|VPS-EWR|             144.5|
+-------+------------------+
only showing top 10 rows

In [88]:
# Origin city to Destination Delay
dfsd= spark.sql("SELECT concat(OriginState,'-' ,DestState) as Route, depDelay, Cancelled from Airline where Cancelled=0")

In [115]:
dfsd.groupBy('Route').avg('depDelay').orderBy('avg(depDelay)', ascending= False).show(10)

+--------------------+-----------------+
|               Route|    avg(depDelay)|
+--------------------+-----------------+
|Wyoming-South Dakota|            104.0|
|  Alabama-California|95.33333333333333|
|  Wyoming-New Jersey|79.41935483870968|
|    Wyoming-Illinois|68.81538461538462|
| Oklahoma-New Jersey|             66.0|
|North Dakota-Nort...|63.14473684210526|
|North Dakota-Georgia|             61.8|
|Puerto Rico-Kentucky|             58.5|
|  Montana-New Jersey|50.29032258064516|
|Mississippi-Illinois|49.11392405063291|
+--------------------+-----------------+
only showing top 10 rows

### <center><b>K-MEANS MODEL</b></center>

In [221]:
from scipy import stats
from sklearn.cluster import KMeans
import pandas as pd


df_tr = dfa
df_tr.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_STATE_NM,DEST,DEST_STATE_NM,CRS_DEP_TIME,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,10,4,DL,3837,DTW,Michigan,CMH,Ohio,820,...,91.0,89.0,38.0,1.0,155.0,NaN,NaN,NaN,NaN,NaN
1,1,10,4,DL,3838,IAD,Virginia,MSP,Minnesota,1658,...,172.0,170.0,148.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN
2,1,10,4,DL,3838,MSP,Minnesota,IAD,Virginia,1245,...,158.0,132.0,114.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN
3,1,10,4,DL,3839,BHM,Alabama,LGA,New York,601,...,149.0,149.0,131.0,1.0,866.0,NaN,NaN,NaN,NaN,NaN
4,1,10,4,DL,3841,MSP,Minnesota,IAD,Virginia,2025,...,168.0,134.0,107.0,1.0,908.0,NaN,NaN,NaN,NaN,NaN

In [222]:
df_tr=df_tr.loc[df_tr['CANCELLED'] == 0]

In [223]:
#Standardize
clmns = ['DAY_OF_MONTH','DAY_OF_WEEK', 'DEP_DELAY', 'DEP_DEL15', 'DISTANCE']
df_tr_std = stats.zscore(df_tr[clmns])
print(df_tr_std)

[[-0.64297987  0.0838701  -0.34293458 -0.4621799  -1.05624232]
 [-0.64297987  0.0838701  -0.3227094  -0.4621799   0.23557658]
 [-0.64297987  0.0838701  -0.28225905 -0.4621799   0.23557658]
 ...
 [-1.42433679  0.0838701  -0.28225905 -0.4621799  -0.73371648]
 [-1.42433679  0.0838701  -0.28225905 -0.4621799  -0.4369241 ]
 [-1.42433679  0.0838701  -0.3227094  -0.4621799  -0.83150357]]

In [220]:
#Cluster the data
kmeans = KMeans(n_clusters=4, random_state=0).fit(df_tr_std)
labels = kmeans.labels_

#Glue back to original data
df_tr['clusters'] = labels

#Add the column into our list
clmns.extend(['clusters'])

#Lets analyze the clusters
print(df_tr[clmns].groupby(['clusters']).mean())

          DAY_OF_MONTH  DAY_OF_WEEK  DEP_DELAY  DEP_DEL15     DISTANCE
clusters
0            15.210701     3.836327  -0.590422   0.049031  1987.068080
1            13.880700     5.675505  -3.302270   0.000000   596.845417
2            17.154205     2.374383  -3.458916   0.000000   578.847151
3            16.399141     3.816378  73.046496   1.000000   724.930479